# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*.local
.env
.env.local

# Common ignores
node_modules
.next/
.DS_Store

#database
*.db

# 가상환경 무시
.venv/
venv/
__pycache__/
*.pyc모여유_시연영상.mp4
